@import 'libs/bootstrap-reboot.min';
@import 'libs/bootstrap-grid.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import 'base/variables';

body {
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
}

.phone {
    text-decoration: none;
    color: $text;
    &:hover {
        text-decoration: none;
        color: $text;
    }
}

.logo {
    a {
        display: block;
    }
}

.divider {
    width: 100%;
    height: 2px;
    background-color: $blue;
}

.w-full {
    width: 100%;
}

.section-p {
    padding-top: 80px;
    padding-bottom: 80px;
}

.t-center {
    text-align: center;
}

.mt-20 {
    margin-top: 20px;
}

.lh-20 {
    line-height: 20px !important;
}

@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/btn';
@import 'blocks/main';
@import 'blocks/title';
@import 'blocks/mess';
@import 'blocks/about';
@import 'blocks/consultation';
@import 'blocks/order';
@import 'blocks/shop';
@import 'blocks/footer';

@import 'blocks/modal';

@import 'blocks/media';