.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 12px #476FFF;
    backdrop-filter: blur(20px);
    min-height: 100px;
    display: flex;
    align-items: center;
    z-index: 10;
    background: rgba(255,255,255,.4);
    
    &__info {
        display: flex;
        flex-direction: column;
        align-items: end;
        .btn {
            margin-top: 5px;
        }
    }
    .hamburger {
        position: relative;
        display: flex;
        width: 40px;
        height: 30px;
        padding: 0;
        align-items: flex-end;
        cursor: pointer;
        transition: all .3s;
        z-index: 15;
        span {
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 5px;
            background: $text;
            transition: all .3s;

            &:first-child {
                width: 70%;
            }
            &:last-child {
                width: 85%;
            }
        }
        &-active {
            display: flex;
            justify-content: center !important;
            align-items: center;
            span {
                position: absolute;
                &:first-child {
                    transform: rotate(45deg);
                    width: 100%;
                }
                &:nth-child(2) {
                    display: none;
                }
                &:last-child {
                    transform: rotate(-45deg);
                    width: 100%;
                }
            }
        }
    }
}