.menu {
    &__list {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        gap: 10px;
    }
    &__item {
        &:hover {
            .menu__link {
                background-color: $purple; 
                text-decoration: none;     
                color: $text-white;          
            }
        }
    }
    &__link {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color: $text;
        border-radius: 10px;
        transition: all .2s;
        font-weight: 500;
    }
}