.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
    color: black;
    display: flex;

    &__hidden-animate {
        animation: hiddenModal linear .5s;
    }
    &__show-animate {
        animation: showModal linear .5s;
    }

    &__hidden {
        display: none;
    }
    &__show {
        display: flex;
    }

    &__wrapper {
        position: relative;
        background: white;
        padding: 40px 20px;
        border-radius: 20px 0 20px 20px;
        border: 2px solid $blue;
    }

    p {
        text-align: center;
    }

    &__close {
        position: absolute;
        right: -2px;
        top: -2px;
        width: 40px;
        height: 40px;
        background: black;
        border-bottom: 2px solid $blue;
        border-left: 2px solid $blue;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        span {
            position: absolute;
            width: 70%;
            height: 2px;
            background: white;
            border-radius: 5px;

            &:first-child {
                transform: rotate(45deg)
            }

            &:last-child {
                transform: rotate(-45deg)
            }
        }
    }

    form {
        margin-top: 40px;

        input, textarea {
            background: $text-white;
            border: 1px solid #BDBDBD;
            border-radius: 10px;
            margin-bottom: 20px;
            padding: 0 20px;
            outline: none;
        }
        input {
            height: 50px;
        }
    }
}

@keyframes hiddenModal {
    0% {
        display: flex;
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes showModal {
    0% {
        display: flex;
        opacity: 0;
    }
    100% {
        opacity: 1;
        display: flex;
    }
}